@import './_variables';

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: grid;
  grid-template-rows: 2(50%);
  grid-template-columns: 50%;
  justify-content: center;
}

.quiz-container {
  background-color: $platinum;
  border: solid $pine 2px;
  border-radius: 5px;
  margin: 10px;
};

.results-container {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  margin: 10px;
}

.result-button {
  background-color: $pine;
  color: $white;
  margin: 10px 0;
  border-radius: 5px;
  border: solid $pine 2px;
}
