.result-correct {
    margin: 0;
    padding: 20px 0px;
    color: $onyx;
    font-weight: normal;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.num-correct {
    color: $coral;
    font-weight: bold;
}