@import './_variables';

//Styles for correct/incorrect messages and button for "Keep Practicing", "Let's Begin", and "Review again"

.correct,
.incorrect {
    color: $accent;
    padding-top: 10%;
}

.correct-answer {
    color: $accent;
}

.explanation {
    color: $outline;
    padding: 0 10%;
}

.keep-practicing {
    margin: 10px 0;
    background-color: $btn;
    color: $base;
    border-radius: 8px;
    border: none;
    width: 75%;
    height: 50px;
    font-size: 1.25rem;
    box-shadow: 0px 1px 1px 1px rgba(35, 31, 32, .2);
    cursor: pointer;
    transition: all .3s ease;
}

.keep-practicing:hover {
    background-color: $btn-hover;
}

.keep-practicing:focus {
    outline: none;
}