@import './_variables.scss';

.header {
    background-color: $pine;
    color: $mint;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px 1px rgba(35, 31, 32, .2);
}

.logo {
    margin: 0;
}