.result-correct {
    margin: 0;
    padding: 20px 0px;
    color: $outline;
    font-weight: normal;
}

.num-correct {
    color: $accent;
    font-weight: bold;
}

.results-container {
    padding: 20px 0px 15px 0px;
    margin: 30px 10px;
    background-color: $base;
    border: solid $outline 1px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(35, 31, 32, .2);
}

.result-button {
    background-color: $base;
    color: $accent;
    border: solid $accent 1px;
    font-size: 1rem;
    box-shadow: 0px .5px .5px .5px rgba(35, 31, 32, .2);
    border-radius: 5px;
    width: 80%;
    padding: 10px 0px;
    margin: 15px 0px;
    cursor: pointer;
    transition: all .3s ease;
    &.disabled {
        border: solid $review-hover 2px;
        color: $review-hover
    }
}

.result-button:focus {
    outline: none;
}

.result-button:hover {
    background-color: $review-hover;
}